/* animate */
@-webkit-keyframes fade {0% {opacity: 0.8;} 100% {opacity: 0.1}}
@-moz-keyframes fade {0% {opacity: 0.8;} 100% {opacity: 0.1}}
@-o-keyframes fade {0% {opacity: 0.8;} 100% {opacity: 0.1}}
@-ms-keyframes fade {0% {opacity: 0.8;} 100% {opacity: 0.1}}
@keyframes fade {0% {opacity: 0.8;} 100% {opacity: 0.1}}

@-webkit-keyframes slide {0% {opacity: 0.8;-webkit-translate3d(0, 0, 0);transform: translate3d(0, 0, 0);} 100% {opacity: 0;-webkit-transform: translate3d(0, 30px, 0);transform: translate3d(0, 30px, 0);}}
@-moz-keyframes slide {0% {opacity: 0.8;-webkit-translate3d(0, 0, 0);transform: translate3d(0, 0, 0);} 100% {opacity: 0;-webkit-transform: translate3d(0, 30px, 0);transform: translate3d(0, 30px, 0);}}
@-o-keyframes slide {0% {opacity: 0.8;-webkit-translate3d(0, 0, 0);transform: translate3d(0, 0, 0);} 100% {opacity: 0;-webkit-transform: translate3d(0, 30px, 0);transform: translate3d(0, 30px, 0);}}
@-ms-keyframes slide {0% {opacity: 0.8;-webkit-translate3d(0, 0, 0);transform: translate3d(0, 0, 0);} 100% {opacity: 0;-webkit-transform: translate3d(0, 30px, 0);transform: translate3d(0, 30px, 0);}}
@keyframes slide {0% {opacity: 0.8;-webkit-translate3d(0, 0, 0);transform: translate3d(0, 0, 0);} 100% {opacity: 0;-webkit-transform: translate3d(0, 30px, 0);transform: translate3d(0, 30px, 0);}}

/* old browser tips */
.browsehappy {position: fixed;width: 100%;height: 60px;line-height: 60px;text-align: center;bottom: 0;left: 0;background-color: #ff6600;z-index: 100000;font-size: 14px;color: #fff;}
.browsehappy > a {color: #ff9;border-bottom: 1px dotted #ff9;}

/* top navigation */
.nav {position: fixed;top: -59px;left: 0;height: 56px;width: 100%;background-repeat: repeat-x;background-position: 0 -207px;z-index: 10001;}
.nav_inner {position: relative;width: 1000px;margin: 0 auto;height: 100%;z-index: 10001;}
.nav_logo {float: left;width: 196px;height: 44px;background-repeat: no-repeat;background-position: 0 -78px;margin-top: 8px;}
.nav_list {float: left;margin-left: 60px;}
.nav_list li {float: left;}
.nav_list li a {display: block;height: 56px;line-height: 56px;color: #333;font-size: 11px;padding: 0 15px;}
.nav_list a.nav_current {color: #fff;background-color: #646464;}
.nav_list li a:hover, .nav_list li.active a {background-color: #646464;color: #fff;}
.nav_list li[data-menuanchor="index"] a:hover, .nav_list li[data-menuanchor="index"].active a {background-color: transparent;;}
.nav_mask {position: absolute;width: 100%;height: 100%;background-color: #fff;opacity: 0.8;}

/* right nav */
/* .nav {position: fixed;top: 50%;margin-top: -50px;height: 100px;right: 5%;z-index: 10001;}
.nav li {width: 4px;height: 4px;background-color: #c7c7c7;border-radius: 50%;margin-bottom: 10px;margin-left: 3px;opacity: 0.6;}
.nav li.active {width: 8px;height: 8px;border: 1px solid #c7c7c7;background-color: #fff;margin-left: 0;opacity: 1;}
.nav li a {display: block;} */

/* section common */
.section {position: relative;width: 100%;overflow: hidden;}
.home_section {background-color: #11b0c6;}
.business_section {background-color: #f58b3b;}
.people_section {background-color: #6c9bf3;}
.partner_section {background-color: #ef6284;}
.hiring_section {background-color: #737ef6;}
.events_section {background-color: #8ab71b;}
.contact_section {background-color: #11b0c6;}
.img_rate {display: none;}

/* home page */
.home_img {position: absolute;width: 60%;max-width: 511px;}
.arrow_down {position: absolute;width: 10%;height: 75px;cursor: pointer;color: #fff;max-width: 60px;}
.arrow_down_text {text-align: center;font-size: 13px;-webkit-animation: fade 2s ease-in 0s infinite;animation: fade 2s ease-in 0s infinite;}
.arrow_down_icon {position: absolute;display: block;left: 10px;top: 30px;width: 70%;max-width: 43px;-webkit-animation: slide 2s ease-in 0s infinite;animation: slide 2s ease-in 0s infinite;}

/* our business */
.our_business_title {position: absolute;width: 20%;max-width: 267px;}
.our_business_img {position: absolute;width: 90%;max-width: 951px;}
.our_business_text {position: absolute;width: 70%;max-width: 780px;}

/* our people */
.our_people_title {position: absolute;width: 18%;max-width: 233px;}
.our_people_text {position: absolute;width: 70%;max-width: 780px;}
.our_people_img {position: absolute;width: 90%;max-width: 944px;}

/* our partner */
.our_partner_title {position: absolute;width: 90%;max-width: 944px;}
.our_partner_text {position: absolute;width: 90%;max-width: 944px;}
.our_email, .portal {color: #fff885;text-decoration: underline;}
.our_partner_bg_left, .our_partner_bg_right {position: absolute;width: 90%;max-width: 1000px;}
.our_partner_img, .hiring_img {position: absolute;width: 100%;max-width: 1000px;}
.our_partner_img img {position: relative;width: 100%;z-index: 10;}
.our_partner_img .line {position: absolute;top: 0;left: 0;z-index: 8;}
.increase_step {position: absolute;z-index: 100;text-align: center;}
.increase_num {position: relative;color: #fff885;font-weight: 700;}
.increase_dollar {position: relative;color: #fff;}
.increase_line {width: 3px;margin: 0 auto;background-color: #fff;}

/* we are hring */
.hiring_title {position: absolute;width: 22%;max-width: 290px;overflow: hidden;}
.hiring_box {float: left;width: 47%;margin: 0 4% 5% 1%;}
.hiring_box.even {margin: 0 1% 5% 0;}
.hiring_box.bottom {margin-bottom: 0;}
.hiring_box img {width: 100%;}

/* events about us */
.events {position: relative;height: 100%;margin: 0 auto;}
.events_title {position: absolute;width: 10%;max-width: 133px;}
.events_text {position: relative;z-index: 999;padding: 5% 60px 0 60px;}
.events_text_first {padding-top: 20%;}
.rocket {position: absolute;width: 20%;max-width: 250px;}
.swipe-wrapper {position: relative;width: 100%;max-width: 1000px;margin: 0 auto;z-index: 12;}
.swipe {overflow: hidden;visibility: hidden;position: relative;}
.swipe-wrap {overflow: hidden;position: relative;}
.swipe-wrap > li {float:left;width:100%;position: relative;}
.prev_events, .next_events {display: none;cursor: pointer;position: absolute;z-index: 100;top: 48%;left: 10px;width: 3%;max-width: 16px;}
.next_events {left: auto;right: 10px;}
.wave {position:absolute;width: 100%;}

/* contact us */
.contact_us_earth {position: absolute;width: 50%;max-width: 519px;}
.contact_list {position: absolute;width: 60%;max-width: 600px;height: 50%;max-height: 519px;padding-top: 10%;}
.contact_us_title {position: absolute;width: 50%;max-width: 250px;top: 12%;left: 10%;}
.contact_list div {overflow: hidden;}
.contact_list p {float: left;}
.contact_info {position: absolute;top: 26%;left: 10%;}
.c_label {width: 70px;height: 16px;}

/* common */
.offset_fix {display: none;z-index: 10;}
.title {z-index: 14;}
.text {color: #fff;z-index: 10;line-height: 1.6em;z-index: 12;}
@media screen and (min-width: 640px) {.text {font-size: 1em;}}
@media screen and (max-width: 640px) {.text {font-size: 0.6em;}.c_label {width: 50px;}}